.modre{
    color: royalblue;
}
.aqua{
    color: aqua;
}
.ruzova{
    color: violet;
}
.radkovani-velke{
    line-height: 200%;
}
p.male{
    line-height: 100%;
    font-size: 50%;
}

.images{
    
    display: block;
   
    margin: 1cm;
    padding: 10%;
    border: 1cm;
}